[Unit]
Description=Micro Thingis Registry Service
ConditionPathExists=/home/bumzack/microthingisregistry

After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
WorkingDirectory=/home/bumzack/microthingisregistry
ExecStart=/home/bumzack/microthingisregistry/target/release/microthingisregistry

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/rust_microthingisregistry
ExecStartPre=/bin/chown syslog:adm /var/log/rust_microthingisregistry
ExecStartPre=/bin/chmod 755 /var/log/rust_microthingisregistry
SyslogIdentifier=rust_microthingisregistry

[Install]
WantedBy=multi-user.target
